<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="wms-cms-web"/>

    <dubbo:registry file="./wms-cms-web-dubbo.cache" address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 供应商 -->
    <dubbo:reference id="cmsSupplierService" interface="org.suvan.cms.rpc.api.CmsSupplierService" mock="true"/>
    <!-- 客户 -->
    <dubbo:reference id="cmsCustomerService" interface="org.suvan.cms.rpc.api.CmsCustomerService" mock="true"/>
    <!-- 货物 -->
    <dubbo:reference id="cmsGoodsService" interface="org.suvan.cms.rpc.api.CmsGoodsService" mock="true"/>
    <!-- 仓库 -->
    <dubbo:reference id="cmsWarehouseService" interface="org.suvan.cms.rpc.api.CmsWarehouseService" mock="true"/>
    <!-- 仓库容量 -->
    <dubbo:reference id="cmsWarehouseCapacityService" interface="org.suvan.cms.rpc.api.CmsWarehouseCapacityService" mock="true"/>
    <!-- 入库记录 -->
    <dubbo:reference id="cmsRecordInService" interface="org.suvan.cms.rpc.api.CmsRecordInService" mock="true"/>
    <!-- 出库记录 -->
    <dubbo:reference id="cmsRecordOutService" interface="org.suvan.cms.rpc.api.CmsRecordOutService" mock="true"/>

</beans>