package ${package_name}.rpc.api;

import org.suvan.common.base.BaseService;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* ${model}Service 接口
* Created by suvan on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Example> {

}