<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suvan.cms.dao.mapper.CmsRecordOutMapper">
  <resultMap id="BaseResultMap" type="org.suvan.cms.dao.model.CmsRecordOut">
    <id column="record_out_id" jdbcType="INTEGER" property="recordOutId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="ctime" jdbcType="BIGINT" property="ctime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    record_out_id, customer_id, goods_id, warehouse_id, amount, ctime
  </sql>
  <select id="selectByExample" parameterType="org.suvan.cms.dao.model.CmsRecordOutExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_record_out
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_record_out
    where record_out_id = #{recordOutId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_record_out
    where record_out_id = #{recordOutId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.suvan.cms.dao.model.CmsRecordOutExample">
    delete from cms_record_out
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.suvan.cms.dao.model.CmsRecordOut">
    insert into cms_record_out (record_out_id, customer_id, goods_id, 
      warehouse_id, amount, ctime
      )
    values (#{recordOutId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{warehouseId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{ctime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.suvan.cms.dao.model.CmsRecordOut">
    insert into cms_record_out
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordOutId != null">
        record_out_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordOutId != null">
        #{recordOutId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.suvan.cms.dao.model.CmsRecordOutExample" resultType="java.lang.Long">
    select count(*) from cms_record_out
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_record_out
    <set>
      <if test="record.recordOutId != null">
        record_out_id = #{record.recordOutId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseId != null">
        warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_record_out
    set record_out_id = #{record.recordOutId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.suvan.cms.dao.model.CmsRecordOut">
    update cms_record_out
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
    </set>
    where record_out_id = #{recordOutId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.suvan.cms.dao.model.CmsRecordOut">
    update cms_record_out
    set customer_id = #{customerId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=BIGINT}
    where record_out_id = #{recordOutId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>