<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suvan.cms.dao.mapper.CmsWarehouseMapper">
  <resultMap id="BaseResultMap" type="org.suvan.cms.dao.model.CmsWarehouse">
    <id column="warehouse_id" jdbcType="INTEGER" property="warehouseId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="goods_area" jdbcType="INTEGER" property="goodsArea" />
    <result column="admin" jdbcType="VARCHAR" property="admin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    warehouse_id, address, status, area, goods_area, admin
  </sql>
  <select id="selectByExample" parameterType="org.suvan.cms.dao.model.CmsWarehouseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_warehouse
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_warehouse
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.suvan.cms.dao.model.CmsWarehouseExample">
    delete from cms_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.suvan.cms.dao.model.CmsWarehouse">
    insert into cms_warehouse (warehouse_id, address, status, 
      area, goods_area, admin
      )
    values (#{warehouseId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{area,jdbcType=INTEGER}, #{goodsArea,jdbcType=INTEGER}, #{admin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.suvan.cms.dao.model.CmsWarehouse">
    insert into cms_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="goodsArea != null">
        goods_area,
      </if>
      <if test="admin != null">
        admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="goodsArea != null">
        #{goodsArea,jdbcType=INTEGER},
      </if>
      <if test="admin != null">
        #{admin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.suvan.cms.dao.model.CmsWarehouseExample" resultType="java.lang.Long">
    select count(*) from cms_warehouse
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_warehouse
    <set>
      <if test="record.warehouseId != null">
        warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=INTEGER},
      </if>
      <if test="record.goodsArea != null">
        goods_area = #{record.goodsArea,jdbcType=INTEGER},
      </if>
      <if test="record.admin != null">
        admin = #{record.admin,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_warehouse
    set warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=INTEGER},
      goods_area = #{record.goodsArea,jdbcType=INTEGER},
      admin = #{record.admin,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.suvan.cms.dao.model.CmsWarehouse">
    update cms_warehouse
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="goodsArea != null">
        goods_area = #{goodsArea,jdbcType=INTEGER},
      </if>
      <if test="admin != null">
        admin = #{admin,jdbcType=VARCHAR},
      </if>
    </set>
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.suvan.cms.dao.model.CmsWarehouse">
    update cms_warehouse
    set address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      goods_area = #{goodsArea,jdbcType=INTEGER},
      admin = #{admin,jdbcType=VARCHAR}
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>